Package: com.azzou.rounderls
Name: RounderLS
Version: 1.0
Architecture: iphoneos-arm
Description: A little tweak to make your LockScreen rounder !
Maintainer: Azzou
Author: Azzou
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 13), ws.hbang.common (>= 1.14)
Icon: file:///Users/Azzou/Documents/Tweaks/RounderLS/Prefs/Resources/icon@3x.png
