Package: com.azzou.rounderls
Name: RounderLS
Version: 1.3-1
Architecture: iphoneos-arm
Description: A little tweak to make your LockScreen rounder !
Maintainer: Azzou
Author: Azzou
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 13), ws.hbang.common (>= 1.14)
Icon: https://github.com/AzzouDuGhetto/repo/blob/master/depictions/rounderls/assets/icon.png
SileoDepiction: https://github.com/AzzouDuGhetto/repo/blob/master/depictions/rounderls/modernDepiction.json