Package: com.azzou.rounderls
Name: RounderLS
Architecture: iphoneos-arm
Description: A little tweak to make your LockScreen rounder !
Maintainer: Azzou
Author: Azzou
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 13), ws.hbang.common (>= 1.14)
Version: 1.0.0-7+debug
Installed-Size: 900
